.about-header {
  padding: 0.6rem 0rem;
  border: 2px solid rgba($lightgray, 0.01);
  border-radius: 0.9rem 1rem;
  transition: border 3s, padding 1s, border-radius 1s;
}
.about-header:hover {
  border: 2px solid $blue;
  padding: 0.6rem 0.2rem;
  border-radius: 1rem 0.9rem;
}
