<!-- Left Column: bio pic and write up -->
<div class="col-sm-6 d-flex justify-content-center">
  <div class="bio-box">

    <!-- Bio picture -->
    <div class="nonagon-outside">
      <div class="nonagon-inside grayscale no-blur"></div>
    </div>

    <!-- Bio write-up -->
    <div class="text-center write-up-wrapper">
      <h3>Who's this guy?</h3>
      <div class="location">Boston, Ma
        <div class="glyph wiggle-me wiggle-text">
          <%= image_tag('mapmarker.png', id:'map-marker') %>
        </div>
      </div>
      <div class="about-me-text">
        I'm a Ruby on Rails developer with a passion for creating
        responsive, cutting-edge websites, designs and animations.
      </div>
    </div>

  </div>
</div>
