<!-- Left Column: bio write up under bio pic -->
<div class="col-sm-6">
  <!-- Write-up about me -->
  <div class="text-center">
    <h3>Who's this guy?</h3>
    <div class="location">Boston, Ma
      <div class="glyph wiggle-me wiggle-text">
        <%= image_tag('mapmarker.png', id:'map-marker') %>
      </div>
    </div>
    <div class="about-me-text">
      I'm a Ruby on Rails developer, with a passion for creating
      responsive, cutting-edge designs and animations.
    </div>
  </div>
</div>
