<!-- Left Column: bio pic and write up -->
<div class="col-sm-6 d-flex justify-content-center">
  <!-- My Pic -->
  <div class="nonagon-outside">
    <div class="nonagon-inside grayscale no-blur"></div>
  </div>

</div>
