
<div class="col-sm-10 offset-sm-1 text-center on-top" id="text-carousel">


  <h2>Hello, my name is Mike.</h2>
  <h2>I'm a
    <span
       class="txt-rotate"
       data-period="1000"
       data-rotate='[ "full-stack web developer.", "personal trainer.", "musician." ]'>
    </span>
  </h2>


</div>

<!--
<script>
  var placement = document.getElementById('text-carousel');

  var innerHeight = window.innerHeight;
  var quarterHeight = innerHeight*0.25;
  var navbarOffset = 50;
  var carouselOffset = 80/2;
  var desiredTop = quarterHeight - navbarOffset - carouselOffset;

  placement.style.top = desiredTop + 'px';


</script>

<script>
  var placement = document.getElementById('text-carousel');
  var animHeight = document.getElementById('myAnimation');
  var $difference = $(animHeight).height() - $(placement).height();
  placement.style.top = ($difference) + 'px';

</script>
-->
