
<div class="col-sm-6 offset-sm-3 text-center on-top" id="text-carousel">


  <h1>Hello, my name is Mike.</h1>
  <h1>I am a
    <span
       class="txt-rotate"
       data-period="1000"
       data-rotate='[ "Rails developer.", "Javascript lover.", "Personal Trainer.", "Musician." ]'>
    </span>
  </h1>


</div>

<script>
  var placement = document.getElementById('text-carousel');
  //placement.style.backgroundColor = 'purple';
  //placement.style.top = 0.5*canvas.height;
  console.log(canvas.height);
</script>
