.about-header {
  background-color: rgba($blue, 0.1);
  padding: 1rem 0.2rem 1rem 0.2rem;
  border-radius: 1rem 0.9rem 1rem 0.9rem;
  /*filter: blur(10px);*/
  transition: background-color 3s;
}
.about-header:hover {
  background-color: rgba($blue, 0.8);
}
