<div class="col-sm-3 text-center about-attr" id="about-quick">
  <h2 class="about-header">Quick</h2>
  <div class="wiggle-me">
    <%= image_tag('icon_quick.png', class:'icon-control') %>
  </div>
  <div class="about-blurb">
    <div class="blurb-text">
      Speed is my highest priority. In the day of instant gratification,
      <div class="wiggle-me wiggle-text">who wants to wait?</div>
    </div>
  </div>
</div>
