<!-- About Icons -->
<div class="row text-center">
  <div class="col-sm-3 wiggle-me">
    <%= image_tag('icon_quick.png', class:'icon-control') %>
  </div>
  <div class="col-sm-3 wiggle-me">
    <%= image_tag('icon_responsive.png', class:'icon-control') %>
  </div>
  <div class="col-sm-3 wiggle-me">
    <%= image_tag('icon_dynamic.png', class:'icon-control') %>
  </div>
  <div class="col-sm-3 wiggle-me">
    <%= image_tag('icon_friendly.png', class:'icon-control') %>
  </div>
</div>
