<div class="col-sm-3 text-center about-attr" id="about-dynamic">
  <h2 class="about-header">Dynamic</h2>
  <div class="wiggle-me">
    <%= image_tag('icon_dynamic.png', class:'icon-control') %>
  </div>
  <div class="about-blurb">
    <div class="blurb-text">
      My passion for animations drives me to create pages that
      <div class="wiggle-me wiggle-text">come to life.</div>
    </div>
  </div>
</div>
