<!-- About - Bio -->
<div class="bio-wrapper">


<div class="row">
  <!-- Left Column: bio pic in nonagon shape -->
  <%= render 'layouts/about/bio/bio_picture' %>
  <!-- Right Column: technology/ languages used -->
  <%= render 'layouts/about/bio/bio_tech' %>
</div> <!-- close first .row -->


<div class="row">
  <!-- Left Column: bio write up under bio pic -->
  <%= render 'layouts/about/bio/bio_write_up' %>
  <!-- Right Column: technology / languages used CONTINUED... -->
  <div class="col-sm-6">

  </div>
</div> <!-- close second .row -->


</div> <!-- close .bio-wrapper -->
