<div class="col-sm-3 text-center about-attr" id="about-responsive">
  <h2 class="about-header">Responsive</h2>
  <div class="wiggle-me">
    <%= image_tag('icon_responsive.png', class:'icon-control ') %>
  </div>
  <div class="about-blurb">
    <div class="blurb-text">
      My designs will fit any device,
      <div class="wiggle-me wiggle-text">in style.</div>
    </div>
  </div>
</div>
