<!-- About Headers -->
<div class="row text-center">
  <div class="col-sm-3"><h2 class="about-header">Quick</h2></div>
  <div class="col-sm-3"><h2 class="about-header">Responsive</h2></div>
  <div class="col-sm-3"><h2 class="about-header">Dynamic</h2></div>
  <div class="col-sm-3"><h2 class="about-header">Friendly</h2></div>
</div>
