<!-- About - Bio -->
<div class="bio-wrapper">


  <div class="row">
    <!-- Left Column: bio pic and write up about me -->
    <%= render 'layouts/about/bio/bio_picture_and_writeup' %>
    <!-- Right Column: technology/ languages used -->
    <%= render 'layouts/about/bio/bio_tech' %>
  </div> <!-- close .row -->


</div> <!-- close .bio-wrapper -->
