<div class="about-wrapper">

  <h1 class="text-center">ABOUT</h1>

  <%= render 'layouts/about/about_headers' %>
  <%= render 'layouts/about/about_icons' %>
  <%= render 'layouts/about/about_blurbs' %>
  <%= render 'layouts/about/about_bio' %>

</div>
