<h1 class="text-center">ABOUT</h1>

<div class="text-center">
  <h2>- Quick - Responsive - Dynamic - Friendly -</h2>

  <span id="icons-wrapper">
    <%= image_tag('icon_quick.png', class:'icon-control') %>
    <%= image_tag('icon_responsive.png', class:'icon-control') %>
    <%= image_tag('icon_dynamic.png', class:'icon-control') %>
    <%= image_tag('icon_friendly.png', class:'icon-control') %>
  </span>
</div>
