<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div id="contact-wrapper">

  <h1 class="text-center" id="contact">CONTACT ME</h1>

  <div class="row text-center">
    <div class="col-sm-12">

      <!-- EMAIL -->
      <%= render 'layouts/contact/my_email' %>
      <!-- SOCIAL MEDIA ICONS -->
      <%= render 'layouts/contact/social_media_icons' %>
      <!-- UP ARROW -->
      <%= render 'layouts/contact/up_arrow_nav' %>

    </div>
  </div>

</div>
