<div class="projects-wrapper">

  <!-- Row 1 -->
  <div class="row text-center">
    <div class="col-sm-12">
      <h1 id="projects">PROJECTS</h1>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="row text-center">
    <div class="col-sm-6 proj-slide-left">
      <%= render 'layouts/projects/whats_your_number' %>
    </div>
    <div class="clear-small"></div>
    <div class="col-sm-6 proj-slide-left">
      <%= render 'layouts/projects/donut_ninja' %>
    </div>
  </div>

  <!-- Row 3 -->
  <div class="row text-center">
    <div class="col-sm-6 proj-slide-left">
      <%= render 'layouts/projects/courtney_dutra' %>
    </div>
    <div class="clear-small"></div>
    <div class="col-sm-6 proj-slide-left">
      <%= render 'layouts/projects/profilo_day_spa' %>
    </div>
  </div>


</div><!-- close .projects-wrapper -->
